<h1>{{title}}</h1>
<form action="create" method="post">
  <div class="form-group">
    <label for="first_name">
      First Name:
      <input type="text" id="first_name" class="form-control" placeholder="Christian" name="first_name" required value={{author.first_name}}>
    </label>
    <label for="family_name">
      Family Name:
      <input type="text" id="family_name" class="form-control" placeholder="Grey" name="family_name" required value={{author.family_name}}>
    </label>
  </div>
  <div class="form-group">
    <label for="date_of_birth">
      Date of birth:
      <input type="date" id="date_of_birth" class="form-control" name="date_of_birth" value={{author.date_of_birth}}>
    </label>
    <label for="date_of_death">
      Date of death:
      <input type="date" id="date_of_death" class="form-control" name="date_of_death" value={{author.date_of_death}}>
    </label>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
  {{#if errors}}
    <ul>
      {{#each errors}}
        <li>{{this.msg}}</li>
      {{/each}}
    </ul>
  {{/if}}
</form>
